.home-page-container {

}

.home-page-container .room-list{
    flex-direction: column;
    gap: 5px;
}

.home-page-container .room-description {
    display: grid;
    grid-template-columns: 3fr 2fr;
    align-items: center;
    border: 1px rgb(238, 228, 228) solid;
    padding: 10px;
}

.home-page-container .room-description > * {
    height: 100%;
    overflow: auto;
}

.home-page-container img {
    max-width: 100%;
    height: auto;
}

.home-page-container .room-text-description {
    text-wrap: wrap;
}