.horizontal-tabbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    -webkit-align-items: center;
    background-color: var(--light-blue-color);
}

.horizontal-tabbar .tab-title-container {
    width: 100px;
    text-overflow: ellipsis;
    text-decoration: underline;
    font-weight:bold;
    cursor: pointer;
}

.horizontal-tabbar .tab-title-container.active {
    color:var(--active-color);
}

.horizontal-tabbar .tab-title-container:hover {
    scale: 1.2 1.2;
}